.a{
   
    height: 105vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    height: 100%;

}
.a-right{
    flex: 1;
}
.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px; 
    background-color:#333;

}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px; 
    overflow: hidden;
     position: relative;
}
.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.a-aca-img{
    width: 230px;
    height: 230px;
    border-radius: 10px;
}
.a-title{
    font-size: 60px;
}
.a-desc{
    font-size: 50px;
}
@media screen and (max-width:480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;

    }
    .a-aca-img{
        width: 200px;
        height: 200px;
    }
    .a-desc{
        font-size: 20px;
    }
    .a-left{
        width: 100%;
    }
    .a-card{
        height: 30vh;

    }
    .a-card.bg{
        display: none;
    }
}