.c{
    height: 85vh;
    position: relative;
}
.c-bg{
    width: 30px;
    height: 100%;
    border-radius:  10px;
    background-color: #59b256;
    position: absolute;
}
.c-bg2{
    top:0;
    right: 0%;
    width: 30px;
    border-radius:  10px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
}
.c-title{
    font-size: 60px;
    width: 80%;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 500;
    width: 70%;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.c-link{
    text-decoration: none;
    color: blue;
}
.c-desc{
    font-size: 60px;
    width: 100%;
  
}
form{
    margin-top: 20px;
}
input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom:1px solid black ;
    margin: 10px 0px;
    font-size: 15px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 15px;
    padding-left: 10px;
}
button{
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
}
@media screen and (max-width:480px){
    .c{
        height: 85vh;
        
    }
    .c-wrapper{
        flex-direction: column;
        padding: 0px 50px;
    }
    .c-title{
        font-size: 30px;

    }
    .c-info-item{
        margin: 20px 0px;
        width: 100%;
    }
    .c-desc{
        font-size: 20px;
       width: 100%;
    }
    .c-bg{
        width: 20px;
    }
    .c-bg2{
        width: 20px;
    }
   form{
       margin-top:0px;
       display: flex;
       flex-wrap: wrap;
   }
   input{
       width: 35%;
       height: 40px;
       margin: 10px;
       margin-left:0px;

   }
   button{
    margin-top: 10px;
   }
    
}